<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 254, 254);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}

        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
          
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>

    </ul>
</nav>
